@import "main"

table
  border-collapse: collapse
  border: 1px solid $gray-color
  td
    border: 1px solid $gray-color
    font-weight: normal
    padding: 5px 15px
  tr
    &:hover
      background-color: $offwhite-color
  th
    background-color: $blue-color
    color: $white-color
    border-color: $white-color
    padding: 5px 15px

.web-form
  width: 50%
  margin: 0 auto
  .form-field
    margin-bottom: 25px
    label, input, select
      display: block
      width: 100%
    input, select
      box-sizing: border-box
      border: 1px solid $gray-color
      border-radius: 25px
      padding: 10px 20px