@import url("https://fonts.googleapis.com/css?family=Niramit");
body {
  font-size: 16px;
  font-family: 'Niramit', sans-serif; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.container {
  width: 80%;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #56638A; }

.title {
  text-align: center; }

.delete {
  cursor: pointer;
  color: #56638A; }

.btn {
  display: inline-block;
  margin-top: 25px;
  border-radius: 25px;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  color: white;
  background-color: #42BA78;
  font-weight: bold;
  letter-spacing: .1em; }
  .btn:hover {
    background-color: #F3B918; }

.message {
  background: #F3B918; }

header .main-menu {
  background-color: #D5D5D3; }
  header .main-menu .menu {
    margin: 0;
    padding: 25px 0;
    list-style: none; }
    header .main-menu .menu li {
      margin-right: 30px; }

footer {
  background-color: #56638A;
  color: #FFF; }
  footer .social a {
    color: #FFF;
    margin-left: 15px;
    font-size: 18px; }

table {
  border-collapse: collapse;
  border: 1px solid #D5D5D3; }
  table td {
    border: 1px solid #D5D5D3;
    font-weight: normal;
    padding: 5px 15px; }
  table tr:hover {
    background-color: #F5F4EC; }
  table th {
    background-color: #56638A;
    color: #FFF;
    border-color: #FFF;
    padding: 5px 15px; }

.web-form {
  width: 50%;
  margin: 0 auto; }
  .web-form .form-field {
    margin-bottom: 25px; }
    .web-form .form-field label, .web-form .form-field input, .web-form .form-field select {
      display: block;
      width: 100%; }
    .web-form .form-field input, .web-form .form-field select {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #D5D5D3;
      border-radius: 25px;
      padding: 10px 20px; }
